node_modules
.env
.next
.next/
.next/server/app-paths-manifest.json
.next/server/app/onBoarding/page.js
.next/server/app/onBoarding/page_client-reference-manifest.js
/.next
/.next
.next/build-manifest.json
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/index.pack.gz
/.next/cache/webpack/server-development
/.next/server
.next/build-manifest.json
.next/app-build-manifest.json
.next/app-build-manifest.json
.next/server/app-paths-manifest.json
.next/server/app/onBoarding/page.js
.next/server/app/onBoarding/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
/.next/server
/.next/server
.next/server/pages-manifest.json
/.next/server
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@babel.js
.next/server/vendor-chunks/@emotion.js
.next/server/vendor-chunks/@hookform.js
.next/server/vendor-chunks/@mui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/hoist-non-react-statics.js
.next/types/app/onBoarding/page.ts
.next/types/app/onBoarding/layout.ts
/.next/types/app
.next/types/app/layout.ts
.next/static/development/_buildManifest.js
.next/static/css/app/onBoarding/page.css
.next/static/css/app/onBoarding/layout.css
.next/build-manifest.json
